{% macro post(p) %}
<mbp:pagebreak>
<h1>{{ p.title }}</h1>
<em>Original post: <a href="http://redd.it/{{ p.id }}">{{ p.id }}</a> &#8214;
  Score: {{ p.score }}</em>
<br />
{% if p.author != '[deleted]' %}
<em>by <a href="http://reddit.com/u/{{ p.author }}">{{ p.author }}</a></em>
{% endif %}
<p>{{ markdown(p.selftext) }}</p>
{% endmacro %}
